
@{
    ViewData["Title"] = "Home Page";
}

<!-- Start Splash Section  -->
<div id="splash" class="container-fluid" >
    <div class="row">
        <div class="col-lg-12 text-center justify-content-center" >
            <h1>Hello,</h1>
            <h2 >I'm Apil Lamsal.</h2>
            <p>.Net Developer</p>
           <br />
            <button class="btn bg-primary text-white">Hire Me</button>
        </div>
    </div>
</div>
<!-- End Splash Section  -->

<style>
    #splash {
        background-image: url(https://raw.githubusercontent.com/hash004/freecodecamp/master/portfolioPage/images/home.jpg);
        background-size: cover;
        background-position: center;
        height: 100%;

        padding-top: 15%;
        padding-bottom: 50px;
        color: #fff;
        font-size: 3em;
        text-shadow: 0px 4px 3px rgba(0,0,0,0.4), 0px 8px 13px rgba(0,0,0,0.5), 0px 18px 23px rgba(0,0,0,0.1);

        

    }

      

       
</style>

